*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

a{
    text-decoration: inherit;
    color: inherit;
}

.app{
    min-height: 100%;
    border: 8px solid black;
    margin: 5px;
    padding: 5px;
}
